[Unit]
Description=GoRTR
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/gortr
WorkingDirectory=/usr/share/gortr
ExecStart=/usr/bin/gortr $GORTR_ARGS

[Install]
WantedBy=multi-user.target